@model IEnumerable<ProductModel>

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Type</th>
			<th scope="col">Description</th>
			<th scope="col">Image</th>
			<th scope="col">Is Deleted</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			<tr>
				<th scope="row">@product.Id</th>
				<td>@product.Name</td>
				<td>@product.Type</td>
				<td>@product.Description</td>
				<td>@product.ImageUrl</td>
				<td>@product.IsDeleted</td>
			</tr>
		}
	</tbody>
</table>
